<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h2>This page belongs to @<%=data.name %> </h2>
    <button>Follow</button>
    <button>Message</button>

    <p>Followers : <%=data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;Followings : <%=data.following%></p>
    <hr/>
    for(let post of posts)
    <h3>Accounts that follow me:</h3>
   

    
</body>
</html>

