<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll dice</title>
</head>
<body>
    <h1>dice gave value:<%= num %></h1>

    <!-- this control flow statements in ejs -->
    <% if(num == 6){ %>
        <h2>Nice! You have got the maximum</h2>
    <% }%>
</body>
</html>